<p id="notice"><%= notice %></p>

  <h1 class="col-xs-10 text-center">Listing Posts</h1>

  <h2 class="col-xs-2 text-right"><%= link_to 'New Post', new_post_path %></h2>

  <hr class="col-xs-12">

  <article class="col-xs-12">

    <% @posts.each do |post| %>

      <div class="col-xs-12">

        <div class="col-xs-1">
          <%= button_to "+1", upvote_post_path(post), method: :post %>

          <%= button_to "-1", downvote_post_path(post), method: :post %>
        </div>

        <div class="col-xs-2">
          <h4><%= pluralize(post.vote_total, "Vote")%> Total</h5>
        </div>

        <div class="col-xs-2">
          <h4>Title</h4>
          <h5><%= link_to post.title, post %></h5>
        </div>

        <div class="col-xs-7">
          <h4 >Summary</h4>
          <h5><%= post.summary %></h5>
        </div>

      </div>

      <div class="col-xs-12">
        <div class="col-xs-8">
          <h4>URL: <span><%= link_to post.rl_url, post.rl_url %></span></h4>
        </div>

        <ul class="col-xs-4 list-inline">
          <li><%= link_to 'Edit', edit_post_path(post) %></li>
          <li><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>

      </div>

      <hr class="col-xs-12">

    <% end %>

  </article>
